*{
    
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: azure;
    
    display: flex;
    align-items: center;
    justify-items: center;

}
.para{
    width: 600px;
    height: auto;
    padding: 20px;
}
.para p{
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    background-image: url(dance.gif) ;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
    height: 100vh;
}